    .profilePreview{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .idOrdersCount {
        color: white;
        font-weight: bold;
    }

    .logo-profile {
        width:40px;
        height:45px;
        border-radius: 50%;
        float: left;
        margin-left:5px;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .title-profile {
        margin-top: 14px;
        float: left;
        margin-left: 10px;
        font-weight: bold;
    }

/*<editor-fold desc="Login">*/
    .card.bg-primary{
        border-color: #ff6300
    }

    .bg-primary{
        background-color: #ff6300 !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #ff6300;
        border-color: #ff6300;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary.focus{
        color: #fff;
        background-color: #b24500;
        border-color: #b24500;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
        color: #fff;
        background-color: #ff6300;
        border-color: #b24500;
    }

    .btn-primary:focus, .btn-primary.focus{
        box-shadow: 0 0 0 0.2rem rgb(255 99 0 / 50%);
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus{
        box-shadow: 0 0 0 0.2rem rgb(255 99 0 / 50%);
    }
/*</editor-fold>*/

/*<editor-fold desc="Dashboard">*/
    .logo-profile{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        float: left;
        margin-left: -10px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
/*</editor-fold>*/