/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2020, 3:25:02 PM
    Author     : developsonora
*/

.pac-container {
    background-color: #FFF;
    z-index: 9999;
    position: fixed;
    display: inline-block;
    float: left;
}

.easy-autocomplete{
    width:100% !important
}

.easy-autocomplete input{
    width: 100%;
}

.form-wrapper{
    width: 500px;
}

.dataTableLayout {
    table-layout:fixed;
    width:100%;
}

#map, #mapEdit {
    width: 100%;
    height: 400px;
    background-color: grey;
}