/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 7, 2020, 3:25:02 PM
    Author     : developsonora
*/

/*<editor-fold desc="Estilos">*/

.pac-container {
    background-color: #FFF;
    z-index: 9999;
    position: fixed;
    display: inline-block;
    float: left;
}
.easy-autocomplete{
  width:100% !important
}

.easy-autocomplete input{
  width: 100%;
}

.form-wrapper{
  width: 500px;
}

.dataTableLayout {
    table-layout:fixed;
    width:100%;
}

#mapL1Origen {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL1Destino {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL1Route {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL2Origen {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL2Destino {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL2Destinos {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL2Route {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL3Origen {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL3Origenes {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL3Route {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL3Destino {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL4Origenes {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL4Destinos {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.modal-dialog-full {
    width: 100%;
    height: 100%;
    margin: 25px auto;
    padding: 0;
    max-width: 85%;
}

.modal-content-full {
    height: auto;
    /*min-height: 100%;*/
    border-radius: 0;
}

/*</editor-fold>*/

/*!*<editor-fold desc="Responsive">*!*/
/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {*/

/*}*/
/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {*/

/*}*/
/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/

/*}*/
/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {*/

/*}*/
/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/

/*}*/

/*@media only screen and (min-width: 1366px) {*/

/*}*/

/*@media only screen and (min-width: 1400px) {*/

/*}*/

/*@media only screen and (min-width: 1600px) {*/

/*}*/

/*@media only screen and (min-width: 1800px) {*/

/*}*/

/*@media only screen and (min-width: 1920px) {*/
/*    .modal-dialog-full{*/
/*        max-width: 90%;*/
/*    }*/
/*}*/
/*!*</editor-fold>*!*/