/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 7, 2020, 3:25:02 PM
    Author     : developsonora
*/

.pac-container {
    background-color: #FFF;
    z-index: 9999;
    position: fixed;
    display: inline-block;
    float: left;
}
.easy-autocomplete{
  width:100% !important
}

.easy-autocomplete input{
  width: 100%;
}

.form-wrapper{
  width: 500px;
}

.dataTableLayout {
    table-layout:fixed;
    width:100%;
}

#mapL1Origen {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL1Destino {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL1Route {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL2Origen {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL2Destino {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL2Destinos {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL2Route {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL3Origen {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL3Origenes {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL3Route {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL3Destino {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#mapL4Origenes {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#mapL4Destinos {
    width: 100%;
    height: 400px;
    background-color: grey;
}
